<p id="notice"><%= notice %></p>

<h1>Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Jeu</th>
      <th>Equipe</th>
      <th>Ecole</th>
      <th>Pseudo1</th>
      <th>Email1</th>
      <th>Bdate1</th>
      <th>Id1</th>
      <th>Pseudo2</th>
      <th>Email2</th>
      <th>Bdate2</th>
      <th>Id2</th>
      <th>Pseudo3</th>
      <th>Email3</th>
      <th>Bdate3</th>
      <th>Id3</th>
      <th>Pseudo3</th>
      <th>Email3</th>
      <th>Bdate3</th>
      <th>Id3</th>
      <th>Pseudo4</th>
      <th>Email4</th>
      <th>Bdate4</th>
      <th>Id4</th>
      <th>Pseudo5</th>
      <th>Email5</th>
      <th>Bdate5</th>
      <th>Id5</th>
      <th>Pseudo6</th>
      <th>Email6</th>
      <th>Bdate6</th>
      <th>Id6</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.jeu %></td>
        <td><%= registration.equipe %></td>
        <td><%= registration.ecole %></td>
        <td><%= registration.pseudo1 %></td>
        <td><%= registration.email1 %></td>
        <td><%= registration.bdate1 %></td>
        <td><%= registration.id1 %></td>
        <td><%= registration.pseudo2 %></td>
        <td><%= registration.email2 %></td>
        <td><%= registration.bdate2 %></td>
        <td><%= registration.id2 %></td>
        <td><%= registration.pseudo3 %></td>
        <td><%= registration.email3 %></td>
        <td><%= registration.bdate3 %></td>
        <td><%= registration.id3 %></td>
        <td><%= registration.pseudo3 %></td>
        <td><%= registration.email3 %></td>
        <td><%= registration.bdate3 %></td>
        <td><%= registration.id3 %></td>
        <td><%= registration.pseudo4 %></td>
        <td><%= registration.email4 %></td>
        <td><%= registration.bdate4 %></td>
        <td><%= registration.id4 %></td>
        <td><%= registration.pseudo5 %></td>
        <td><%= registration.email5 %></td>
        <td><%= registration.bdate5 %></td>
        <td><%= registration.id5 %></td>
        <td><%= registration.pseudo6 %></td>
        <td><%= registration.email6 %></td>
        <td><%= registration.bdate6 %></td>
        <td><%= registration.id6 %></td>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_registration_path %>
