<p id="notice"><%= notice %></p>

<p>
  <strong>Jeu:</strong>
  <%= @registration.jeu %>
</p>

<p>
  <strong>Equipe:</strong>
  <%= @registration.equipe %>
</p>

<p>
  <strong>Ecole:</strong>
  <%= @registration.ecole %>
</p>

<p>
  <strong>Pseudo1:</strong>
  <%= @registration.pseudo1 %>
</p>

<p>
  <strong>Email1:</strong>
  <%= @registration.email1 %>
</p>

<p>
  <strong>Bdate1:</strong>
  <%= @registration.bdate1 %>
</p>

<p>
  <strong>Id1:</strong>
  <%= @registration.id1 %>
</p>

<p>
  <strong>Pseudo2:</strong>
  <%= @registration.pseudo2 %>
</p>

<p>
  <strong>Email2:</strong>
  <%= @registration.email2 %>
</p>

<p>
  <strong>Bdate2:</strong>
  <%= @registration.bdate2 %>
</p>

<p>
  <strong>Id2:</strong>
  <%= @registration.id2 %>
</p>

<p>
  <strong>Pseudo3:</strong>
  <%= @registration.pseudo3 %>
</p>

<p>
  <strong>Email3:</strong>
  <%= @registration.email3 %>
</p>

<p>
  <strong>Bdate3:</strong>
  <%= @registration.bdate3 %>
</p>

<p>
  <strong>Id3:</strong>
  <%= @registration.id3 %>
</p>

<p>
  <strong>Pseudo3:</strong>
  <%= @registration.pseudo3 %>
</p>

<p>
  <strong>Email3:</strong>
  <%= @registration.email3 %>
</p>

<p>
  <strong>Bdate3:</strong>
  <%= @registration.bdate3 %>
</p>

<p>
  <strong>Id3:</strong>
  <%= @registration.id3 %>
</p>

<p>
  <strong>Pseudo4:</strong>
  <%= @registration.pseudo4 %>
</p>

<p>
  <strong>Email4:</strong>
  <%= @registration.email4 %>
</p>

<p>
  <strong>Bdate4:</strong>
  <%= @registration.bdate4 %>
</p>

<p>
  <strong>Id4:</strong>
  <%= @registration.id4 %>
</p>

<p>
  <strong>Pseudo5:</strong>
  <%= @registration.pseudo5 %>
</p>

<p>
  <strong>Email5:</strong>
  <%= @registration.email5 %>
</p>

<p>
  <strong>Bdate5:</strong>
  <%= @registration.bdate5 %>
</p>

<p>
  <strong>Id5:</strong>
  <%= @registration.id5 %>
</p>

<p>
  <strong>Pseudo6:</strong>
  <%= @registration.pseudo6 %>
</p>

<p>
  <strong>Email6:</strong>
  <%= @registration.email6 %>
</p>

<p>
  <strong>Bdate6:</strong>
  <%= @registration.bdate6 %>
</p>

<p>
  <strong>Id6:</strong>
  <%= @registration.id6 %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
