<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1 id="h1-games">Inscription</h1>
<p id="p-games">Choisissez un jeu</p>

<div id="game-container1">
    <div class="game">
        <%= link_to new_registration_path(:gameName => "LOL") do %>
            <%= image_tag(('lol-icon.png'), class: "imgGames") %>
        <% end %>
        <p>Date: 27/01</p>
        <p>Taille équipe: 5 joueurs</p>
    </div>

    <div class="game">
        <%= link_to new_registration_path(:gameName => "CSGO") do %>
            <%= image_tag(('cs-icon.png'), class: "imgGames") %>
        <% end %>
        <p>Date: 28/01</p>
        <p>Taille équipe: 5 joueurs</p>
    </div>

    <div class="game">
        <%= link_to new_registration_path(:gameName => "OW") do %>
            <%= image_tag(('ow-icon.png'), class: "imgGames") %>
        <% end %>
        <p>Date: 26/01</p>
        <p>Taille équipe: 6 joueurs</p>
    </div>

    <div class="game">
        <%= link_to new_registration_path(:gameName => "RL") do %>
            <%= image_tag(('rl-icon.png'), class: "imgGames") %>
        <% end %>
        <p>Date: 27/01</p>
        <p>Taille équipe: 2 joueurs</p>
    </div>
</div>

<p class="regle"><a target='_blank' href='https://drive.google.com/file/d/13-gfDac50lwqj4ieTSjFKAu_fi6ogQWu/view'>Règlement</a></p>